.footer {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: lightgreen;
}
.copyright {
    position: absolute;
    left: 10vw;
}